body {
    background-image: url(../img/360_F_93364974_eoos8QGsa9CzTa5hGRRL6EutXMSKgdOA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    text-align: center;
}

p {
    text-align: center;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width:  150px;
    background-color: goldenrod;
    padding: 5px 0px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.3rem;
    
}

button:hover {
    cursor: pointer;
}